@using WebLibrary2.Domain.Entity.BookEntity;
@model IEnumerable<Book>
@{
    ViewBag.Title = "Авторы";
}
<div>
    <div class="btn btn-default">
        <h4>
            @Html.ActionLink("Добавить книгу", "CreateBook", "CRUDBook", null, new { @class = "btn btn-outline-primary" })
        </h4>
    </div>
    <br />
    <table>
        <tr>
            <th class="text-center"><h4>Название</h4></th>
            <th class="text-center"><h4>Жанр</h4></th>
            <th class="text-center"><h4>Действие</h4></th>
            <th class="text-center"><h4>JSON/XML</h4></th>
        </tr>
        @foreach (var book in Model)
        {
            <tr>
                <td>
                    <h4>@book.BookName</h4>
                </td>
                <td >
                    <h4>@book.Genres.GenreName</h4>
                </td>
                <td class="text-center">
                    <div class=" btn btn-default">
                        @Html.ActionLink("Редактировать", "EditBook", "CRUDBook", new { id = book.BookID }, null)
                    </div> |
                    <div class=" btn btn-default">
                        @Html.ActionLink("Удалить", "DeleteBook", "CRUDBook", new { id = book.BookID }, null)
                    </div> |
                    <div class=" btn btn-default">
                        @Html.ActionLink("Детали", "BookDetails", "CRUDBook", new { id = book.BookID }, null)
                    </div>
                </td>
                <td class="text-center">
                    <div class=" btn btn-default">
                        <input type="checkbox" name="bookSerializationID" value="@book.BookID" />
                    </div>
                </td>
            </tr>
        }
    </table>
</div>




