@using WebLibrary2.Domain.Entity.BookEntity;
@model IEnumerable<Book>
@{
    ViewBag.Title = "Авторы";
}

<h3>@ViewBag.Message</h3>
<div>
    <h2>Список книг</h2>
    <div class="btn btn-default">
        <h4>
            @Html.ActionLink("Добавить книгу", "CreateBook", "CRUDBook",null, new { @class = "btn btn-outline-primary" })
        </h4>
    </div>
    <br />
    <br />
    <table>
        <tr>
            <th><h4>Название</h4></th>
            <th><h4>Жанр</h4></th>
            <th><h4>Действие</h4></th>
        </tr>
        @foreach (var book in Model)
        {
            
        <tr>
            <td>
                <h4>@book.BookName</h4>
            </td>
            <td>
                <h4>@book.Genres.GenreName</h4>
            </td>
            <td>
                <div class=" btn btn-default">
                    @Html.ActionLink("Редактировать", "EditBook", "CRUDBook", new { id = book.BookID }, null)</div> |
                <div class=" btn btn-default">
                        @Html.ActionLink("Удалить", "DeleteBook", "CRUDBook", new { id = book.BookID }, null)</div> |
                <div class=" btn btn-default">
                            @Html.ActionLink("Детали", "BookDetails", "CRUDBook", new { id = book.BookID }, null)</div> 


</td>
        </tr>
        }
    </table>
</div>



