@using WebLibrary2.Domain.Entity.BookEntity;
@model IEnumerable<Book>
@{
    ViewBag.Title = "Books";
}
@if (User.IsInRole("admin"))
{

    using (Html.BeginForm("DeserializeBook", "Books", FormMethod.Post, new { id = "UploadForm", enctype = "multipart/form-data" }))
    {
        <div class="btn btn-default">
            <input type="file" name="file" id="Upload" size="60" />
            <input type="submit" value="Deserialize" id="file" class="btn btn-light" />
        </div>
    }
    using (Html.BeginForm())
    {
        <div class="btn btn-default">

            @Html.ActionLink("Добавить книгу", "CreateBook", "CRUDBook", null, new { @class = "btn btn-light" })
            <input type="submit" name="toJson" value="To JSON"
                   formaction="~/Home/SerializeBookToJSON" formmethod="post" class="btn btn-light" />
            <input type="submit" name="toXml" value="To XML"
                   formaction="~/Home/SerializeBookToXML" formmethod="post" class="btn btn-light" />

        </div>
        <br />
        <table>
            <tr>
                <th class="text-center"><h4>Название</h4></th>
                <th class="text-center"><h4>Жанр</h4></th>
                <th class="text-center"><h4>Действие</h4></th>
                <th class="text-center"><h4>JSON/XML</h4></th>
            </tr>
            @foreach (var book in Model)
            {
                <tr>
                    <td>
                        <h4>@book.BookName</h4>
                    </td>
                    <td>
                        <h4>@book.Genres.GenreName</h4>
                    </td>
                    <td class="text-center">
                        <div class=" btn btn-default">
                            @Html.ActionLink("Редактировать", "EditBook", "CRUDBook", new { id = book.BookID }, null)
                        </div> |
                        <div class=" btn btn-default">
                            @Html.ActionLink("Удалить", "DeleteBook", "CRUDBook", new { id = book.BookID }, null)
                        </div> |
                        <div class=" btn btn-default">
                            @Html.ActionLink("Детали", "BookDetails", "CRUDBook", new { id = book.BookID }, null)
                        </div>
                    </td>
                    <td class="text-center">
                        <div class=" btn btn-default">
                            <input type="checkbox" name="bookSerializationID" value="@book.BookID" />
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
}
@if (User.IsInRole("user"))
{

    using (Html.BeginForm("DeserializeBook", "Books", FormMethod.Post, new { id = "UploadForm", enctype = "multipart/form-data" }))
    {
        <div class="btn btn-default">
            <input type="file" name="file" id="Upload" size="60" />
            <input type="submit" value="Deserialize" id="file" class="btn btn-light" />
        </div>
    }
    using (Html.BeginForm())
    {
        <div class="btn btn-default">
            <input type="submit" name="toJson" value="To JSON"
                   formaction="~/Home/SerializeBookToJSON" formmethod="post" class="btn btn-light" />
            <input type="submit" name="toXml" value="To XML"
                   formaction="~/Home/SerializeBookToXML" formmethod="post" class="btn btn-light" />
        </div>
        <br />
        <table>
            <tr>
                <th class="text-center"><h4>Название</h4></th>
                <th class="text-center"><h4>Жанр</h4></th>
                <th class="text-center"><h4>Действие</h4></th>
                <th class="text-center"><h4>JSON/XML</h4></th>
            </tr>
            @foreach (var book in Model)
            {
                <tr>
                    <td>
                        <h4>@book.BookName</h4>
                    </td>
                    <td>
                        <h4>@book.Genres.GenreName</h4>
                    </td>
                    <td class="text-center">
                        <div class=" btn btn-default">
                            @Html.ActionLink("Детали", "BookDetails", "CRUDBook", new { id = book.BookID }, null)
                        </div>
                    </td>
                    <td class="text-center">
                        <div class=" btn btn-default">
                            <input type="checkbox" name="bookSerializationID" value="@book.BookID" />
                        </div>
                    </td>
                </tr>
            }
        </table>
    }

}
@if (!User.IsInRole(WebLibrary2.Domain.Enums.Enum.Roles.user.ToString()) && !User.IsInRole(WebLibrary2.Domain.Enums.Enum.Roles.admin.ToString()))
{
    <div>
        <table>
            <tr>
                <th class="text-center"><h4>Название</h4></th>
                <th class="text-center"><h4>Жанр</h4></th>
            </tr>
            @foreach (var book in Model)
            {
                <tr>
                    <td>
                        <h4>@book.BookName</h4>
                    </td>
                    <td>
                        <h4>@book.Genres.GenreName</h4>
                    </td>

                </tr>
            }
        </table>
    </div>
}






