@using WebLibrary2.Domain.Entity.MagazineEntity;
@model IEnumerable<Magazine>
@{
    ViewBag.Title = "Авторы";
}

<div class="btn btn-default">
    @Html.ActionLink("Добавить журнал", "CreateMagazine", "CRUDMagazine", null, new { @class = "btn btn-outline-primary" })
</div>
<br />
<table>
    <tr>
        <th><h4>Название</h4></th>
        <th><h4>Действие</h4></th>
    </tr>
    @foreach (var magazine in Model)
    {
        <tr>
            <td><h4>@Html.DisplayFor(modelItem => magazine.MagazineName)</h4></td>
            <td>
                <div class=" btn btn-default">
                    @Html.ActionLink("Редактировать", "EditMagazine", "CRUDMagazine", new { id = magazine.MagazineID }, null)
                </div> |
                <div class=" btn btn-default">
                    @Html.ActionLink("Удалить", "DeleteMagazine", "CRUDMagazine", new { id = magazine.MagazineID }, null)
                </div>|
                <div class=" btn btn-default">
                    @Html.ActionLink("Детали", "MagazineDetails", "CRUDMagazine", new { id = magazine.MagazineID }, null)
                </div>
            </td>
        </tr>
    }
</table>
