@using WebLibrary2.ViewModelsLayer.ViewModels
@model GetAuthorView
@{
    ViewBag.Title = "CreateAuthor";
}

<h2>CreateAuthor</h2>

@{Html.EnableClientValidation();}
@{Html.EnableUnobtrusiveJavaScript();}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <h3>Write a name</h3>
    <div>
        @Html.EditorFor(model => model.AuthorName)
        @Html.ValidationMessageFor(model => model.AuthorName, "", new { @class = "text-danger" })
    </div><br />
    <div class="form-group">
        @Html.LabelFor(model => model.BooksIDs, "Books", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.ListBox("BooksIDs", ViewData["Books"] as MultiSelectList, htmlAttributes: new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.BooksIDs, "", new { @class = "text-danger" })
        </div>
    </div>

    <input class="btn btn-default" type="submit" value="Добавить" />
    <button>@Html.ActionLink("Назад к списку", "AuthorView", "Author", null, new { @class = "btn" })</button>
}



