@using WebLibrary2.Domain.Models;
@model  GetM2MCRUDAuthorVM
@{
    ViewBag.Title = "DeleteAuthor";
}

<h2>DeleteAuthor</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        @Html.DisplayFor(model => model.AuthorName)
    </div><br />
    <dt>Book name</dt>
    foreach (var b in Model.Books)
    {
        <dd> @b.BookName</dd>

    }
    <input class="btn btn-default" type="submit" value="Delete" />
    <button>@Html.ActionLink("Назад к списку", "AuthorsView", "Author", null, new { @class = "btn" })</button>

}

