
@{
    ViewBag.Title = "Deserialize";

    var authorDataXML = (IEnumerable<WebLibrary2.Domain.Entity.Author>)ViewData["AuthorDataXML"];

    var articleDataJSON = (IEnumerable<WebLibrary2.Domain.Entity.ArticleEntity.Article>)ViewData["ArticleDataJSON"];
    var magazineDataJSON = (IEnumerable<WebLibrary2.Domain.Entity.MagazineEntity.Magazine>)ViewData["MagazineDataJSON"];
    var bookDataJSON = (IEnumerable<WebLibrary2.Domain.Entity.BookEntity.Book>)ViewData["BookDataJSON"];
    var publicationDataJSON = (IEnumerable<WebLibrary2.Domain.Entity.PublicationEntity.Publication>)ViewData["PublicationDataJSON"];

    var articleDataXML = (IEnumerable<WebLibrary2.Domain.Entity.ArticleEntity.Article>)ViewData["ArticleDataXML"];
}

<h2>Deserialize</h2>

@if (articleDataXML != null)
{
    <h3>XML Deserialization</h3>
    foreach (var item in articleDataXML)
    {
        @item.ArticleName<br />
    }
}


@if (articleDataJSON != null)
{
    <h3>XML Deserialization</h3>
    foreach (var item2 in articleDataJSON)
    {
        @item2.ArticleName<br />
    }
}

<br />

@if (magazineDataJSON != null)
{
    <h3>XML Deserialization</h3>
    foreach (var item2 in magazineDataJSON)
    {
        @item2.MagazineName<br />
    }
}

<br />

@if (bookDataJSON != null)
{
    <h3>XML Deserialization</h3>
    foreach (var item2 in bookDataJSON)
    {
        @item2.BookName<br />
    }
}

<br />

@if (publicationDataJSON != null)
{
    <h3>XML Deserialization</h3>
    foreach (var item2 in publicationDataJSON)
    {
        @item2.PublicationName<br />
    }
}

<br />


