
@{
    ViewBag.Title = "Deserialize";

    var articleDataJSON = (IEnumerable<WebLibrary2.Domain.Entity.ArticleEntity.Article>)ViewData["ArticleDataJSON"];
    var magazineDataJSON = (IEnumerable<WebLibrary2.Domain.Entity.MagazineEntity.Magazine>)ViewData["MagazineDataJSON"];
    var bookDataJSON = (IEnumerable<WebLibrary2.Domain.Entity.BookEntity.Book>)ViewData["BookDataJSON"];
    var publicationDataJSON = (IEnumerable<WebLibrary2.Domain.Entity.PublicationEntity.Publication>)ViewData["PublicationDataJSON"];

    var articleDataXML = (IEnumerable<WebLibrary2.Domain.Entity.ArticleEntity.Article>)ViewData["ArticleDataXML"];
    var magazineDataXML = (IEnumerable<WebLibrary2.Domain.Entity.MagazineEntity.Magazine>)ViewData["MagazineDataXML"];
    var bookDataXML = (IEnumerable<WebLibrary2.Domain.Entity.BookEntity.Book>)ViewData["BookDataXML"];
    var publicationDataXML = (IEnumerable<WebLibrary2.Domain.Entity.PublicationEntity.Publication>)ViewData["PublicationDataXML"];
}

<h2>Deserialize</h2>

@if (articleDataXML != null)
{
    <h3>Article list from XML </h3>
    foreach (var item in articleDataXML)
    {
        if (item.ArticleID != 0)
        {
            @item.ArticleName<br />
        }
    }
}
@if (magazineDataXML != null)
{
    <h3>Magazine list from XML </h3>
    foreach (var item in magazineDataXML)
    {
        if (item.MagazineID != 0)
        {
            @item.MagazineName <br />
        }
    }
}

@if (bookDataXML != null)
{
    <h3>Magazine list from XML </h3>
    foreach (var item in bookDataXML)
    {
        if (item.BookID != 0)
        {
            @item.BookName <br />
        }
    }
}

@if (publicationDataXML != null)
{
    <h3>Magazine list from XML </h3>
    foreach (var item in publicationDataXML)
    {
        if (item.PublicationID != 0 )
        {
            @item.PublicationName <br />
        }
    }
}

@if (articleDataJSON != null)
{
    foreach (var item2 in articleDataJSON)
    {
        if (item2.ArticleID != 0)
        {
            @item2.ArticleName<br />
        }
    }
}

@if (magazineDataJSON != null)
{
    foreach (var item2 in magazineDataJSON)
    {
        if (item2.MagazineID != 0)
        {
            @item2.MagazineName<br />
        }
    }
}


@if (bookDataJSON != null)
{
    foreach (var item2 in bookDataJSON)
    {
        if (item2.BookID != 0)
        {
            @item2.BookName<br />
        }
    }
}


@if (publicationDataJSON != null)
{
    foreach (var item2 in publicationDataJSON)
    {
        if (item2.PublicationID != 0)
        {
            @item2.PublicationName<br />
        }
    }
}

