@model IEnumerable<WebLibrary2.Domain.Entity.Author>

@{
    ViewBag.Title = "List of books";
}
<div>
    <h2>Список авторов</h2>
    <div>
        @Html.ActionLink("To JSON", "SerializeJSON", "Home", null, new { onclick = "return JSONSerializationDialog()", @class = "btn btn-light" })
        @Html.ActionLink("To XML", "SerializeXML", "Home", null, new { onclick = "return XMLSerializationDialog()", @class = "btn btn-light" })
        @Html.ActionLink("From JSON", "DeserializeJSON", "Home", null, new { onclick = "return JSONDeserializationDialog()", @class = "btn btn-light" })
        @Html.ActionLink("From XML", "DeserializeXML", "Home", null, new { onclick = "return XMLDeserializationDialog()", @class = "btn btn-light" })
    </div>
    @*@Html.BeginForm(){
    <div>
        <input type="button" id="showDialog" value="Open File Dialog" />
        <input type="submit" value="save" />
    </div>
    }*@

    @*<div style="display:none" id="divDialog"/>*@

    <br />
    <div>
        @Html.ActionLink("Добавить автора", "CreateAuthor", "CRUDAuthor", null, new { @class = "btn btn-outline-primary" })
    </div>
    <br />

    <table>
        <tr>
            <th><h4>Автор</h4></th>
            <th><h4>Действие</h4></th>
        </tr>
        @foreach (var author in Model)
        {
            <tr>

                <td><h4>@Html.DisplayFor(modelItem => author.AuthorName)</h4></td>

                <td>

                    <div class=" btn btn-default">
                        @Html.ActionLink("Редактировать", "EditAuthor", "CRUDAuthor", new { id = author.AuthorID }, null)
                    </div> |
                    <div class=" btn btn-default">
                        @Html.ActionLink("Удалить", "DeleteAuthor", "CRUDAuthor", new { id = author.AuthorID }, null)
                    </div>|
                    <div class=" btn btn-default">
                        @Html.ActionLink("Детали", "AuthorsDetails", "CRUDAuthor", new { id = author.AuthorID }, null)
                    </div>

                </td>
            </tr>
        }
    </table>
    <br />
</div>

@*<script>
    $(function () {
        $("#showDialog").click(function () { DisplayUpdateCustomerDialog();})
    });
    function DisplayUpdateCustomerDialog() {
        var applyButton = {
            text: "OK",
            click : OKButton
        }
        var cancelButton = {
            text: "Cancel",
            click: CloseDialog
        }

        $("#showDialog").dialog({
            buttons: [applyButton, cancelButton],
            height: 500,
            width: 500,
            modal: true,
            title: "Open File Dialog Title"
        });
    }

    function OKButton() {
        $.get("/Home/SerializeJSON/",
            function (serializeJSON) {
                $("#showDialog").html(serializeJSON);
        });
        CloseDialog();
    }
    function CloseDialog() {
        $("#showDialog").dialog("close");
    }
</script>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<link href="~/Content/themes/base/all.css" rel="stylesheet" />*@
