<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Библиотека ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="@Url.Content("~/Content/themes/base/datepicker.css")"
          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/theme.css")"
          rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/custom/TabControl.js")" type="text/javascript"></script>
</head>
<body>
    @if (HttpContext.Current.User.IsInRole("admin") || HttpContext.Current.User.IsInRole("user"))
    {
        <div class="navbar navbar-fixed-top navbar-expand-sm bg-primary navbar-dark">
            <div class="container">
                <div class="navbar-header">
                    @Html.ActionLink("WebLibrary", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav">
                        <li>@Html.ActionLink("Список авторов", "AuthorView", "Author", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Контакты", "Contact", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    </ul>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class = "navbar-brand ">Hello, @User.Identity.Name</li>
                        <li>@Html.ActionLink("Logout", "LogOut", "Account", new { area = "" }, new { @class = "navbar-brand float-right" })</li>
                    </ul>
                </div>
            </div>
        </div>
    }

    @if (!HttpContext.Current.User.IsInRole("admin") && !HttpContext.Current.User.IsInRole("user"))
    {
        <div class="navbar navbar-fixed-top navbar-expand-sm bg-dark navbar-dark ">
            <div class="container">
                <div class="navbar-header">
                    @Html.ActionLink("WebLibrary", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav">
                        <li>@Html.ActionLink("Список авторов", "AuthorView", "Author", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Контакты", "Contact", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    </ul>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto">
                        <li>@Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "navbar-brand float-right" })</li>
                    </ul>
                </div>
            </div>
        </div>
    }


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – библиотека ASP.NET</p>
            <p>Автор - Михаил Зеленский</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)

</body>
</html>
