<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – библиотека ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-expand-sm bg-dark navbar-dark">
        <div class="container">
            <div class="navbar-header">
               @Html.ActionLink("Список авторов", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li>@Html.ActionLink("Список книг", "BooksView", "Books", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Контакты", "Contact", "Home" , new { area = "" }, new { @class = "navbar-brand" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – библиотека ASP.NET</p>
            <p>Автор - Михаил Зеленский</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom");
    @RenderSection("scripts", required: false)
</body>
</html>
