<link href="~/Content/bootstrap.css" rel="stylesheet" />
@{ 
    Layout = null;
}
@using WebLibrary2.WebUI.RoleModels
@model LoginModel

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="container col-md-3">

    <h3 class="text-center">Login</h3>
    <br />
    <div>
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "E-mail" } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
    <br />
    <div>
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <div class="text-danger list-unstyled">@Html.ValidationSummary(true)</div>
    <br />
    <div>
        <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block" />
    </div>
    <hr />
    <h4 class="text-center">Don't have account yet?</h4>
    <hr />
    <div>
        @Html.ActionLink("Registration", "Register", "Account", new { @class = "btn btn-lg btn-primary btn-block" })
    </div>

</div>

}

