@using WebLibrary2.Domain.Entity
@model Book

<h2>Details</h2>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Book
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>
        <dt>
            Authors
        </dt>
        @foreach (Author author in Model.Authors)
        {
            <dd>
                @author.AuthorName
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Genres.GenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genres.GenreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfPublish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfPublish)
        </dd>

    </dl>
</div>
<p>
    <div class="btn btn-default"> @Html.ActionLink("Редактировать", "EditBook", "CRUDBook", new { id = Model.BookID },null)</div>
    <div class="btn btn-default">@Html.ActionLink("Назад к списку", "BooksView", "Books")</div>
</p>
