@using WebLibrary2.Domain.Entity.PublicationEntity;
@model IEnumerable<Publication>
@{
    ViewBag.Title = "Авторы";
}

@if (User.IsInRole(WebLibrary2.Domain.Enums.Enum.Roles.admin.ToString()))
{
    using (Html.BeginForm("DeserializePublication", "Publications", FormMethod.Post, new { id = "UploadForm", enctype = "multipart/form-data" }))
    {
        <div class="btn btn-default">
            <input type="file" name="file" id="Upload" size="60" />
            <input type="submit" value="Deserialize" id="file" class="btn btn-light" />
        </div>
    }

    using (Html.BeginForm("SerializeMagazineToJSON", "Home", FormMethod.Post))
    {
        <div class="btn btn-default">
            @Html.ActionLink("Добавить публикацию", "CreatePublication", "CRUDPublication", null, new { @class = "btn btn-light" })
            <input type="submit" name="toJson" value="To JSON"
                   formaction="~/Home/SerializePublicationToJSON" formmethod="post" class="btn btn-light" />
            <input type="submit" name="toXml" value="To XML"
                   formaction="~/Home/SerializePublicationToXML" formmethod="post" class="btn btn-light" />
        </div>
        <br />
        <table>
            <tr>
                <th class="text-center"><h4>Название</h4></th>
                <th class="text-center"><h4>Жанр</h4></th>
                <th class="text-center"><h4>Действие</h4></th>
                <th class="text-center"><h4>JSON/XML</h4></th>

            </tr>
            @foreach (var publication in Model)
            {
            <tr>
                <td><h4>@Html.DisplayFor(modelItem => publication.PublicationName)</h4></td>
                <td><h4>@Html.DisplayFor(modelItem => publication.PublicationGenres.PublicationGenreName)</h4></td>
                <td>
                    <div class=" btn btn-default">
                        @Html.ActionLink("Редактировать", "EditPublication", "CRUDPublication", new { id = publication.PublicationID }, null)
                    </div> |
                    <div class=" btn btn-default">
                        @Html.ActionLink("Удалить", "DeletePublication", "CRUDPublication", new { id = publication.PublicationID }, null)
                    </div>|
                    <div class=" btn btn-default">
                        @Html.ActionLink("Детали", "PublicationDetails", "CRUDPublication", new { id = publication.PublicationID }, null)
                    </div>
                </td>
                <td class="text-center">
                    <div class=" btn btn-default">
                        <input type="checkbox" name="publicationSerializationID" value="@publication.PublicationID" />
                    </div>
                </td>
            </tr>
            }
        </table>
    }
}
@if (User.IsInRole("user"))
{
    using (Html.BeginForm("DeserializePublication", "Publications", FormMethod.Post, new { id = "UploadForm", enctype = "multipart/form-data" }))
    {
        <div class="btn btn-default">
            <input type="file" name="file" id="Upload" size="60" />
            <input type="submit" value="Deserialize" id="file" class="btn btn-light" />
        </div>
    }

    using (Html.BeginForm("SerializeMagazineToJSON", "Home", FormMethod.Post))
    {
        <div class="btn btn-default">
            <input type="submit" name="toJson" value="To JSON"
                   formaction="~/Home/SerializePublicationToJSON" formmethod="post" class="btn btn-light" />
            <input type="submit" name="toXml" value="To XML"
                   formaction="~/Home/SerializePublicationToXML" formmethod="post" class="btn btn-light" />
        </div>
        <br />
        <table>
            <tr>
                <th class="text-center"><h4>Название</h4></th>
                <th class="text-center"><h4>Жанр</h4></th>
                <th class="text-center"><h4>Действие</h4></th>
                <th class="text-center"><h4>JSON/XML</h4></th>

            </tr>
            @foreach (var publication in Model)
            {
            <tr>
                <td><h4>@Html.DisplayFor(modelItem => publication.PublicationName)</h4></td>
                <td><h4>@Html.DisplayFor(modelItem => publication.PublicationGenres.PublicationGenreName)</h4></td>
                <td>
                    <div class=" btn btn-default">
                        @Html.ActionLink("Детали", "PublicationDetails", "CRUDPublication", new { id = publication.PublicationID }, null)
                    </div>
                </td>
                <td class="text-center">
                    <div class=" btn btn-default">
                        <input type="checkbox" name="publicationSerializationID" value="@publication.PublicationID" />
                    </div>
                </td>
            </tr>
            }
        </table>
    }
}
@if (!User.IsInRole(WebLibrary2.Domain.Enums.Enum.Roles.user.ToString()) && !User.IsInRole(WebLibrary2.Domain.Enums.Enum.Roles.admin.ToString()))
{
    <table>
        <tr>
            <th class="text-center"><h4>Название</h4></th>
            <th class="text-center"><h4>Жанр</h4></th>

        </tr>
        @foreach (var publication in Model)
        {
            <tr>
                <td><h4>@Html.DisplayFor(modelItem => publication.PublicationName)</h4></td>
                <td><h4>@Html.DisplayFor(modelItem => publication.PublicationGenres.PublicationGenreName)</h4></td>
            </tr>
        }
    </table>
}

