@using WebLibrary2.ViewModelsLayer.ViewModels
@model GetAuthorLiteratureView

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@{Html.EnableClientValidation();}
@{Html.EnableUnobtrusiveJavaScript();}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <div class="form-row">
            <div class="col">
                <p>Выберите публикации,что бы удалить их для этого автора</p>
                @foreach (var item in Model.Publications)
                {
                    <input type="checkbox" name="publicationsIDsForDelete" value="@item">
                    @Html.DisplayFor(modelItem => item.PublicationName)<br />
                }
            </div>
            <div class="col">
                <p>Выберите публикации,что бы добавить их для этого автора</p>
                @Html.ListBox("publicationsIDsForInsert", ViewData["Publications"] as MultiSelectList, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>


        <div class="form-row">
            <div class="col-md-offset-2 col-md-10">
                <br />
                <input type="submit" value="Подтвердить" class="btn btn-light" />
                @Html.ActionLink("Назад к списку", "AuthorView", "Author", null, new { @class = "btn btn-light" })
            </div>
        </div>
    </div>
}
