@using WebLibrary2.Domain.Models
@model GetM2MCRUDPublicationVM
@{
    ViewBag.Title = "DeletePublication";
}

<h2>DeletePublication</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PublicationName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublicationName)
        </dd>
        <dt>  @Html.DisplayNameFor(model => model.Authors)</dt>
        @foreach (var author in Model.Authors)
        {
            <dd>
                @author.AuthorName
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.PublicationGenreName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublicationGenreName)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" />
            <div class="btn btn-default">@Html.ActionLink("Назад к списку", "Index", "Home")</div>
        </div>
    }

</div>