@using WebLibrary2.Domain.Models
@model GetM2MCRUDArticleVM
@{
    ViewBag.Title = "ArticleDetails";

}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.ArticleName)</dt>
        <dd>@Html.DisplayFor(model => model.ArticleName)</dd>

        <dt>@Html.DisplayNameFor(model => model.ArticleGenreName)</dt>
        <dd>@Html.DisplayFor(model => model.ArticleGenreName)</dd>
        <dt>
            Authors
        </dt>
        @foreach (var author in Model.Authors)
        {
            <dd>
                @author.AuthorName
            </dd>
        }
    </dl>
</div>

<div class="btn btn-default">
    <a onclick="returnToBack()">Назад к списку</a>
    @*@Html.ActionLink("Назад к списку", "Index", "Home")*@
</div>

<script>
    function returnToBack() {
        window.location.href = "/Home/Index" + localStorage.getItem('tabID').toString();
    }
</script>