@using System.Data.Entity;
@using System.Linq.Expressions;
@model IEnumerable<WebLibrary2.Domain.Entity.Books>


@{
    ViewBag.Title = "List of books";
}

<div>
    <h2>Список книг</h2>
    <h4>
        @Html.ActionLink("Добавить книгу", "Authors");
    </h4>
    <br />

        <table>
            <tr>
                <th><h4>Автор</h4></th>
                <th><h4>Назнвание</h4></th>
                <th><h4>Жанр</h4></th>
                <th><h4>Год публикации</h4></th>
                <th><h4>Действие</h4></th>
            </tr>
            @foreach (var book in Model)
            {
                <tr>
                    <td><h4>@Html.DisplayFor(modelItem => book.Authors.AuthorName)</h4></td>
                    <td><h4>@Html.DisplayFor(modelItem => book.BookName)</h4></td>
                    <td><h4>@Html.DisplayFor(modelItem => book.GenreID)</h4></td>
                    <td><h4>@Html.DisplayFor(modelItem => book.YearOfPublish)</h4></td>

                    <td><h4>@Html.ActionLink("Редактировать", "Authors") |
                    @Html.ActionLink("Удалить", "Authors")</h4></td>

                    @**@
                   
                </tr>
            }
        </table>
    </div>

@*class="jumbotron"*@